.lobby-background {
    -fx-background-image: url("/htl/steyr/tetris/images/background.png");
    -fx-border-color: #ffffff;
    -fx-background-position: center;
    -fx-border-width: 4px;
    -fx-border-radius: 10px;
    -fx-padding: 20px;
}

#playbutton {
    -fx-background-color: linear-gradient(to bottom right, #1496e9, #1b638f);
}



